[Unit]
Description=Import music with Beets
Requires=beets.service
After=beets.service

[Service]
Type=oneshot
ExecStart=/usr/bin/podman exec --user 1001:1000 beets beet import -q /downloads
