[Unit]
Description=Update DNS Records
ConditionPathIsDirectory=/var/magisystem/slskd/downloads

[Service]
Type=oneshot
ExecStart=find -H -O2 /var/magisystem/slskd/downloads -mindepth 1 -type d -executable (-mtime +1 -o -mtime 1) -print -delete
