[Unit]
Description=Clean older items in the slskd downloads folder
ConditionPathIsDirectory=/var/magisystem/slskd/downloads

[Service]
Type=oneshot
ExecStart=find -H -O2 /var/magisystem/slskd/downloads -mindepth 1 ( -mtime +1 -o -mtime 1 ) -print -delete
