[Unit]
Description=Immich Redis Container

[Container]
ContainerName=immich-redis
Pod=immich.pod
AutoUpdate=registry
Image=docker.io/valkey/valkey:9@sha256:4963247afc4cd33c7d3b2d2816b9f7f8eeebab148d29056c2ca4d7cbc966f2d9
User=1002
Group=1002
HealthCmd="redis-cli ping || exit 1"
