[Unit]
Description=Caddy container

[Container]
ContainerName=caddy-cert-manager
Pod=reverse-proxy.pod
StartWithPod=false
AutoUpdate=local
Image=caddy-cert-manager.build
Network=services.network
Volume=/etc/magisystem/caddy-cert-manager:/etc/caddy:ro,Z
Volume=/var/magisystem/caddy-cert-manager:/data:U,z
# AddCapability=CAP_NET_BIND_SERVICE
User=1000
Group=1000
Label=traefik.enable=true
Label=traefik.http.routers.caddy-cert-manager.entrypoints=http,https
Label="traefik.http.routers.caddy-cert-manager.rule=Host(`magisystem.xyz`) && PathPrefix(`/.well-known/acme-challenge`)"
Label=traefik.http.routers.caddy-cert-manager.tls.certResolver=
Label=traefik.http.services.caddy-cert-manager.loadBalancer.server.port=8443

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/caddy-cert-manager

[Install]
WantedBy=magisystem.target
