[Unit]
Description=oCIS Container Init
ConditionPathExists=|!/etc/magisystem/ocis/ocis.yaml

[Container]
ContainerName=ocis
AutoUpdate=registry
Image=docker.io/owncloud/ocis:latest
Exec=init
Network=none
Environment=OCIS_INSECURE=true
Environment="OCIS_URL=https://cloud.magisystem.xyz"
Environment=OCIS_LOG_LEVEL=info
Environment=PROXY_TLS=false
Volume=/etc/magisystem/ocis:/etc/ocis:U
# User=1000
# Group=1000
# PublishPort=9200:9200

[Service]
Type=oneshot
# ExecStartPre=mkdir -m 700 -p /var/magisystem/ocis
