[Unit]
Description=OpenCloud Container
Wants=opencloud-init.container
After=opencloud-init.container

[Container]
ContainerName=opencloud
AutoUpdate=registry
Image=docker.io/opencloudeu/opencloud-rolling:latest
Network=services.network
Environment="OC_URL=https://cloud.magisystem.xyz"
# Environment=OC_LOG_LEVEL=info
Environment=OC_LOG_LEVEL=warn
# Environment=PROXY_TLS=false
Environment=OC_ADD_RUN_SERVICES=auth-app
Environment=OC_EXCLUDE_RUN_SERVICES=idp,auth-basic
Environment=OC_ENABLE_OCM=true
Environment="OC_OIDC_ISSUER=https://auth.magisystem.xyz/oauth2/openid/opencloud"
Environment=OC_OIDC_CLIENT_ID=opencloud
User=1000
Group=1000
Volume=/etc/magisystem/opencloud:/etc/opencloud:ro,Z,idmap=uids=@0-1000-1
Volume=/var/magisystem/opencloud/data:/var/lib/opencloud:U,Z
Label=traefik.enable=true
Label="traefik.http.routers.opencloud.rule=Host(`cloud.magisystem.xyz`) || Host(`opencloud.magisystem.xyz`)"
Label=traefik.http.services.opencloud.loadBalancer.server.port=9200

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/opencloud/data

[Install]
WantedBy=magisystem.target
