[Unit]
Description=oCIS Container Init
ConditionPathExists=|!/var/magisystem/opencloud/opencloud.yaml

[Container]
ContainerName=opencloud
AutoUpdate=registry
Image=docker.io/opencloudeu/opencloud-rolling:latest
Exec=init
Network=none
Environment=OC_INSECURE=true
Environment=OC_LOG_LEVEL=info
User=1000
Group=1000
Volume=/etc/magisystem/opencloud:/etc/opencloud:Z,idmap=uids=@0-1000-1;gids=@0-1000-1

[Service]
Type=oneshot
