[Unit]
Description=Seafile Container
Wants=seafile-mariadb.container seafile-redis.container
After=seafile-mariadb.container seafile-redis.container

[Container]
ContainerName=seafile
Pod=seafile.pod
AutoUpdate=registry
Image=docker.io/seafileltd/seafile-mc:13.0-latest
AddCapability=CAP_NET_BIND_SERVICE
Environment=TIME_ZONE=Europe/Rome
Environment=SITE_ROOT=/
Environment=NON_ROOT=false
Environment=SEAFILE_MYSQL_DB_USER=seafile
Environment=SEAFILE_MYSQL_DB_HOST=localhost
Environment=SEAFILE_MYSQL_DB_PORT=3306
Environment=SEAFILE_MYSQL_DB_SEAFILE_DB_NAME=seafile
Environment=SEAFILE_MYSQL_DB_SEAHUB_DB_NAME=seahub
Environment=SEAFILE_SERVER_HOSTNAME=cloud.magisystem.xyz
Environment=SEAFILE_SERVER_PROTOCOL=https
Environment=SEAFILE_LOG_TO_STDOUT=true
Environment=ENABLE_SEADOC=false
Environment=CACHE_PROVIDER=redis
Environment=REDIS_HOST=localhost
Environment=REDIS_PORT=6379
Environment=ENABLE_NOTIFICATION_SERVER=false
# Environment=INNER_NOTIFICATION_SERVER_URL=http://localhost:8083
# Environment=NOTIFICATION_SERVER_URL=https://cloud.magisystem.xyz/notification
Environment=ENABLE_SEAFILE_AI=false
EnvironmentFile=/etc/magisystem/seafile/environment
Volume=/var/magisystem/seafile/data:/shared:U,Z
Label=traefik.enable=true
Label="traefik.http.routers.seafile.rule=Host(`cloud.magisystem.xyz`) || Host(`seafile.magisystem.xyz`)"
Label=traefik.http.services.seafile.loadBalancer.server.port=80

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/seafile/data
ExecStartPre=chmod g=,o= /etc/magisystem/seafile/environment
