[Unit]
Description=Seafile MariaDB Container

[Container]
ContainerName=seafile-mariadb
Pod=seafile.pod
AutoUpdate=registry
Image=docker.io/library/mariadb:10.11
EnvironmentFile=/etc/magisystem/seafile/environment
Environment=MYSQL_LOG_CONSOLE=true
Environment=MARIADB_AUTO_UPGRADE=true
Volume=/var/magisystem/seafile/database:/var/lib/mysql:U,Z

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/seafile/database
ExecStartPre=chmod g=,o= /etc/magisystem/seafile/environment
