[Unit]
Description=Stalwart Container

[Container]
ContainerName=stalwart
AutoUpdate=registry
Image=ghcr.io/stalwartlabs/stalwart:latest-alpine
Network=services.network
User=1000
Group=1000
PublishPort=25:25
PublishPort=465:465
PublishPort=993:993
Volume=/var/magisystem/stalwart:/opt/stalwart:U,Z
Label=traefik.enable=true
Label="traefik.http.routers.stalwart.rule=Host(`stalwart.magisystem.xyz`)"
Label=traefik.http.services.stalwart.loadBalancer.server.port=8080

# Label="traefik.tcp.routers.stalwart-jmap.rule=HostSNI(`magisystem.xyz`)"
# Label=traefik.tcp.routers.stalwart-jmap.tls.passthrough=true
# Label=traefik.tcp.services.stalwart-jmap.loadBalancer.server.port=443
# Label=traefik.tcp.services.stalwart-jmap.loadBalancer.proxyProtocol.version=2

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/stalwart

# [Install]
# WantedBy=magisystem.target
