[Unit]
Description=Traefik container
Wants=socket-proxy.container
After=socket-proxy.container

[Container]
ContainerName=traefik
AutoUpdate=registry
Image=docker.io/library/traefik:3
Network=services.network
AddCapability=CAP_NET_BIND_SERVICE
PublishPort=80:80
PublishPort=[::]:80:80
PublishPort=443:443
PublishPort=[::]:443:443
PublishPort=443:443/udp
PublishPort=[::]:443:443/udp
# TODO: Remove this binding
PublishPort=127.0.0.1:8080:8080
User=1000
Group=1000
Volume=/etc/magisystem/traefik:/etc/traefik:ro,Z
Volume=/var/magisystem/traefik/acme.json:/acme.json:U,Z
Volume=/var/magisystem/caddy-cert-manager/caddy/certificates/acme-v02.api.letsencrypt.org-directory:/certs:ro,z

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/traefik
ExecStartPre=mkdir -m 700 -p /var/magisystem/caddy-cert-manager/caddy/certificates/acme-v02.api.letsencrypt.org-directory
ExecStartPre=sh -c 'test -e /var/magisystem/traefik/acme.json || echo '{}' > /var/magisystem/traefik/acme.json'
ExecStartPre=chmod 700 /var/magisystem/traefik/acme.json

[Install]
WantedBy=magisystem.target
