[Unit]
Description=Kanidm container
Wants=kanidm-generate-certificates.container
After=kanidm-generate-certificates.container

[Container]
ContainerName=kanidm
AutoUpdate=registry
Image=docker.io/kanidm/server:latest
Network=services.network
Volume=/etc/magisystem/kanidm:/config:ro
Volume=/var/magisystem/kanidm:/data:U
User=1000
Group=1000
Environment=KANIDM_CONFIG=/config/server.toml
Label=traefik.enable=true
Label=traefik.http.routers.kanidm.entrypoints=http,https
Label="traefik.http.routers.kanidm.rule=Host(`auth.magisystem.xyz`)"
Label=traefik.http.services.kanidm.loadBalancer.server.port=8443
Label=traefik.http.services.kanidm.loadBalancer.serversTransport=kanidm@file

[Service]
ExecStartPre=mkdir -m 700 -p /var/magisystem/kanidm
ExecStartPre=chmod -R o= /etc/magisystem/kanidm
ExecStartPre=chmod g=rwX /etc/magisystem/kanidm/certs
ExecStartPre=podman run --rm -v /etc/magisystem/kanidm:/config docker.io/library/alpine chown -R :1000 /config

[Install]
WantedBy=magisystem.target
