[Unit]
Description=Cluster Area Network Segment of the Node

[Network]
NetworkName=services
# InterfaceName=services
# ContainersConfModule=ritsuko.conf
