[Unit]
Description=Socket Proxy container
StartLimitIntervalSec=1m
StartLimitBurst=10

[Container]
ContainerName=socket-proxy
AutoUpdate=registry
Image=lscr.io/linuxserver/socket-proxy:latest
UserNS=host
ReadOnly=true
Tmpfs=/run
Environment=CONTAINERS=1
Network=services.network
Volume=/run/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=on-failure
RestartSec=100ms
RestartSteps=9
RestartMaxDelaySec=1s

[Install]
WantedBy=magisystem.target
