[Unit]
Description=Traefik container
Wants=socket-proxy.container
After=socket-proxy.container

[Container]
ContainerName=traefik
AutoUpdate=registry
Image=docker.io/library/traefik:3
Network=services.network
PublishPort=80
PublishPort=443
PublishPort=443/udp
# TODO: Remove this binding
PublishPort=127.0.0.1:8080:8080
Volume=/etc/magisystem/traefik:/etc/traefik:ro
Volume=/var/magisystem/traefik/acme.json:/acme.json

[Service]
ExecStartPre=mkdir -p /var/magisystem/traefik
ExecStartPre=sh -c 'test -e /var/magisystem/traefik/acme.json || echo > /var/magisystem/traefik/acme.json'
ExecStartPre=chmod 600 /var/magisystem/traefik/acme.json

[Install]
WantedBy=default.target
